body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    display: inner-flex;
    margin: auto 10px;
    font-size: 22px;
    color:white;
    padding: 5px;
}
